* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url('../img/premium_photo-1661964402307-02267d1423f5.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.contenedor-login {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.08); /* transparente */
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.formulario input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(0, 0, 0);
}

.formulario input::placeholder {
  color: #000000;
}

.formulario button {
  width: 100%;
  padding: 12px;
  background-color: #060606;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #0070c0;
}

#mensaje {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffcccc;
}

.formulario a {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.formulario a:hover {
  color: #ffffff;
  text-decoration: underline;
}
